PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/los_chanchitos
JWT_SECRET=replace_with_a_long_secret
ADMIN_EMAIL=admin@loschanchitos.com
ADMIN_PASSWORD=replace_with_secure_password

CLOUDINARY_CLOUD_NAME=replace_with_cloud_name
CLOUDINARY_API_KEY=replace_with_api_key
CLOUDINARY_API_SECRET=replace_with_api_secret

FRONTEND_URL=http://localhost:5173

MERCADO_PAGO_ACCESS_TOKEN=replace_with_access_token_later
FRONTEND_SUCCESS_URL=http://localhost:5173/pago-exitoso
FRONTEND_FAILURE_URL=http://localhost:5173/checkout
FRONTEND_PENDING_URL=http://localhost:5173/pago-pendiente